<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css">
    body, button { font-family: 'menlo'; }
    .btn { margin-top: 100px; background-color: #fff; font-size: 20px; border: 1px solid lightgray; }
    #data { margin-top: 100px; border: 1px solid lightgray; height: 100px; border-radius: 4px; font-size: 16px; }
  </style>
</head>
<body>

  <div class="container">
    <button class="btn col-sm-4 col-sm-offset-4">get da data</button>
    <div id="data" class="col-sm-4 col-sm-offset-4"></div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/rainbow.js"></script>
  <script type="text/javascript">

    var data = [
      {
        "fruit": "apple",
        "berry": "cherry"
      },
      {
        "animal": "cat",
        "food": "scone"
      }
    ]

    function successYo(results) {
      $('#data').html("Success, yo!").css('text-align', 'center').css('padding-top', '15px');

      $('#data').rainbow({ 
        colors: [
            '#FF0000',
            '#f26522',
            '#fff200',
            '#00a651',
            '#28abe2',
            '#2e3192',
            '#6868ff'
        ],
        animate: true,
        animateInterval: 100,
        pad: false,
        pauseLength: 100,
      });
    }

    function send_data() {
      $.ajax({
        url: "/get_list",
        type: "POST",
        data: JSON.stringify({ data: data }),
        contentType: "application/json; charset=utf-8",
        success: successYo
    });

    }

    $('button').on('click', send_data);

  </script>
</body>
</html>